{% extends "app_main/base.html" %} {% load static %} {% block body %}
<script src="{% static "js/openfarms.js" %}"></script>
{% if user.is_authenticated and user.producer %}
<div class="row justify-content-md-center">
	<div class="col-6">
		<form class="input-form">
			<div class="form-group mb-2">
				<label for="product">Produkt</label> <input type="text"
					class="form-control" id="product">
			</div>
			<div class="form-group mb-2">
				<label for="amount">Menge</label> <input type="number"
					class="form-control" id="amount">
			</div>
			<button type="button" class="btn btn-primary" id="btn_add">Hinzufügen</button>
		</form>
	</div>
</div>
<div class="row justify-content-md-center">
<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-secondary active" id="label_all">
    <input type="radio" name="options" id="btn_all" autocomplete="off" checked> Alle
  </label>
  <label class="btn btn-secondary" id="label_own">
    <input type="radio" name="options" id="btn_own" autocomplete="off"> Eigene
  </label>
</div>
</div>
{% endif %}
<div class="row justify-content-md-center">
	<div class="col">
		<table class="table" id="stock_table">
			<thead>
				<tr>
					<th>Produkt</th>
					<th>Menge</th>
				</tr>
			</thead>
			<tbody id="stock_table_body">
			</tbody>
		</table>
		<script type="text/javascript">
		function loadStock()
		{
			$.getJSON("/api/stock/?own=true",function(data){
				document.getElementById('stock_table_body').innerHTML = '';
				$.each(data,function(i,item){
					top.openfarms.getProduce(item.product_openfarms_url,function(data){
					    var row = document.getElementById("stock_table_body").insertRow(-1);
					    row.insertCell(0).innerHTML =data.name;
					    row.insertCell(1).innerHTML =item.amount;
					})
				})
			})
		}
		$("#btn_add").click(function(){
			var product_id = $("#product").val();
			var amount = $("#amount").val();
			$.post("../api/stock/",{csrfmiddlewaretoken:'{{ csrf_token }}',product_openfarms_id:product_id,amount:amount},function(){
				loadStock();
			});
		});
		loadStock();
		</script>
	</div>
</div>
{% endblock %}

