{% extends "baslerbauer_main/base.html" %} {% block body %}
<div class="row justify-content-md-center">
	<div class="column-sm">
		<form action="" method="POST">
			{% csrf_token %}
			<div class="form-group">
				<label for="inputEmail">Email</label> <input type="email"
					class="form-control" id="inputEmail" name="email">
			</div>
			<div class="form-group">
				<label for="inputPassword">Password</label> <input type="password"
					class="form-control" id="inputPassword" name="password">
			</div>
			{% if login_failed %}
			<div class="form-group">
    			<label class="text-danger">Login fehlgeschlagen</label>
  			</div>
  			{% endif %}
			<button type="submit" class="btn btn-primary">Login</button>
		</form>
	</div>
</div>
{% endblock %}
