{% extends "baslerbauer_main/base.html" %} {% load static %} {% block body %}
<script src="{% static "js/openfarms.js" %}"></script>
<div class="row justify-content-md-center">
	<div class="column-sm">
		<form action="" method="POST">
			{% csrf_token %}
			<div class="form-group">
				<label for="inputEmail">Email</label> <input type="email"
					class="form-control" id="inputEmail" name="email">
			</div>
			<div class="form-group">
				<label for="inputPassword">Password</label> <input type="password"
					class="form-control" id="inputPassword" name="password">
			</div>
			<div class="form-group">
				<label for="inputProducer">Producer</label>
				<select name="producer" id="select_producer">
					{% for producer in producer_list %}
					<option value="{{ producer.openfarms_url }}"></option>
					{% endfor %}
				</select>
			</div>
			<script type="text/javascript">
			$("#select_producer > option").each(function() {
				var element_option = this;
				top.openfarms.getFarm(this.value,function(data){
					$(element_option).val(data.id);
					$(element_option).text(data.title);
				})
			});

			</script>
			<button type="submit" class="btn btn-primary">Register</button>
		</form>
	</div>
</div>
{% endblock %}
